<!DOCTYPE html>
<html>
<head>
    <title>定制人生</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/index/main.css" />
    <noscript><link rel="stylesheet" href="../css/index/noscript.css" /></noscript>
</head>
<body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>菜单</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="index.html">首页</a></li>
                                <li><a href="purchase.html">我要采购</a></li>
                                <li><a href="#">我的项目</a></li>
                                <li><a href="elements.html">个人中心</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        </div>
    <!-- One -->
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>
                    Arcu aliquet vel lobortis ata nisl<br />
                    eget augue amet aliquet nisl cep donec
                </h2>
                <p>
                    Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
                    fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
                </p>
            </header>
        </div>
    </section>
        <!--UUID 
        故障原因

        闪
        设备检测 地图 图标， 点击展示  电箱  路灯-->

</body>
</html>

<!-- Scripts -->
<script src="../js/index/jquery.min.js"></script>
<script src="../js/index/jquery.scrollex.min.js"></script>
<script src="../js/index/jquery.scrolly.min.js"></script>
<script src="../js/index/browser.min.js"></script>
<script src="../js/index/breakpoints.min.js"></script>
<script src="../js/index/util.js"></script>
<script src="../js/index/main.js"></script>